.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #B20000, #4A565C);
}

#map{
    height: 80vh;
    width: 48vw;
    border: solid 1px black;
}